<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1 class="text-center">RPN</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input">Output</label>
                        <textarea class="form-control" id="output" rows="10" readonly><%= @responseString %></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="output-info">&nbsp</label>
                        <textarea class="form-control" id="output-info" rows="10" readonly>Y1, TIME1 - pair consisting of result and time taken from input to get back the result (round trip)&#13;&#10;Y2, TIME2&#13;&#10;Yn, TIMEn</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
